@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@theme {
  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --font-schibsted: "Schibsted Grotesk", sans-serif;
}

body {
  font-family: "Schibsted Grotesk", sans-serif;
}

.heading {
  font-family: "Bricolage Grotesque", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
